version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: product-api-app
        container_name: product-api-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
        networks:
            - product-api-network
        depends_on:
            - db

    nginx:
        image: nginx:alpine
        container_name: product-api-nginx
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - product-api-network
        depends_on:
            - app

    db:
        image: mysql:8.0
        container_name: product-api-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
        volumes:
            - dbdata:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - product-api-network

networks:
    product-api-network:
        driver: bridge

volumes:
    dbdata:
        driver: local
